.button {
  animation: scale 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  background: var(--primary-dark-color);
  border: 0;
  border-radius: 25px;
  box-shadow: var(--shadow25);
  color: white;
  cursor: pointer;
  padding: 10px;
  transition: background 0.75s ease , filter 2s linear;
}

.button:disabled {
  background: grey;
  color: black;
  cursor: not-allowed;
}

.button:hover {
  background: var(--secondary-light-color);
  filter: brightness(125%);
}

@keyframes scale {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
