.section {
  background: var(--secondary-color);
  color: white;
  display: grid;
  grid: 1fr / 1fr;
  min-height: 100vh;
}

.section > header {
  grid: repeat(1, 1fr) / repeat(5, 1fr);
  grid-column: span 2;
}

.section > button {
  grid-column: span 2;
}

.section > section:nth-of-type( 1 ) {
  grid-column: span 2;
}

@media screen and ( min-width : 768px ) {

  .section {
    grid: 1fr / 1fr 1fr;
  }

  .section > section:nth-of-type( 1 ) {
    grid-column: span 1;
  }

}
