.article {
  background: var(--secondary-color);
  color: white;
  height: 100%;
  padding-bottom: 10vh;
  width: 100%;
}

.playerWrapper {
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
  position: relative;
}

.reactPlayer {
  left: 0;
  position: absolute;
  top: 0;
}

.article > button {
  background: var(--primary-color);
  bottom: 0;
  color: white;
  height: 10%;
  position: fixed;
  width: 100%;
}

.article > button > a {
  color: white;
}

.header {
  border-bottom: 5px double var(--primary-color);
  display: flex;
  justify-content: space-around;
  padding-block: 5px;
  width: 100%;
}

.header img {
  filter: invert(100%) drop-shadow(0 5px 5px rgba(0, 0, 0, 0.5));
}
