.header {
  background: var(--secondary-color);
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 5px;
  place-items: center;
  position: relative;
  width: 100%;
}

.header > h1 {
  font-size: 1.5rem;
}

.header > img {
  width: 50%;
}

.searchBtn {
  background: var(--primary-color);
  border: 0;
  border-radius: 5px;
  grid-column: span 3;
  height: 100%;
  outline: 1px double rgba(255, 255, 255, 0.25);
  outline-offset: 5px;
  padding: 2px;
  transition: background 2s ease , filter 2s ease;
  width: 80%;
}

.searchBtn:hover {
  background: var(--secondary-light-color);
  filter: brightness(125%);
}

.searchBtn > img {
  filter: grayscale(100%);
}

.logo {
  height: auto;
  width: 80%;
}

.explorar {
  height: auto;
  width: 80%;
}

.header > button img {
  filter: invert(1);
}

.searchBar {
  animation: fadeFromTop 1.5s ease;
  background: #363636;
  display: grid;
  grid: repeat(3, 1fr) / 1fr;
  padding: 25px;
  place-items: center;
  position: absolute;
  top: 20vh;
  width: 80%;
  z-index: 20;
}

.searchBar > label {
  justify-content: center;
}

.searchBar > button {
  height: 100%;
  width: 100%;
}

.options > label {
  align-items: center;
  display: grid;
  flex-direction: row;
  grid: 1fr / 1fr 5fr;
  text-align: left;
}

.options > label > input {
  box-shadow: none;
  order: -1;
}

.background {
  animation: fade 1.5s ease;
  animation-delay: 1.1s;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 2s ease;
  width: 100%;
  z-index: -1;
}

.options {
  display: grid;
}

@media screen and ( min-width : 768px ) {

  .searchBar {
    grid: 1fr / repeat(3, 1fr);
  }

  .header > h2 {
    max-width: 40%;
    width: 40%;
  }

  .explorar {
    width: 40%;
  }
}

@keyframes fadeFromTop {

  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fade {

  from {
    height: 0%;
    width: 0%;
  }

  to {
    height: 100%;
    width: 100%;
  }
}
