.section {
  display: grid;
  text-align: center;
}

.section > h3 {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.recipe {
  display: grid;
  place-items: center;
}

.recipe > p {
  border-bottom: 5px double var(--primary-color);
  font-size: 1.1rem;
  font-weight: 200;
}

.recipe > p > a {
  color: white;
}

.recipe > img {
  height: auto;
  width: 60%;
}
